<select class="form-control user_language">
    <option value="en" {% if locale == 'en' %} {{ 'selected' }} {% endif %}>English</option>
    <option value="ru" {% if locale == 'ru' %} {{ 'selected' }} {% endif %}>Russian</option>
</select>
