{% extends 'base.html.twig' %}

{% block title %}Create Profile!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_row(form.avatar) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Create
    </button>
    {{ form_end(form) }}
{% endblock %}
