@import "bootstrap/dist/css/bootstrap.min.css";
@import "main.css";

.img-sm {
    width: 46px;
    height: 46px;
}

#showmore-trigger {
    display: flex;
    justify-content: center;
    padding: 10px;
}
