{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
<div class="page-posts no-padding">
    <div class="row">
        <div class="page page-post col-sm-12 col-xs-12">
            <div class="blog-posts blog-posts-large">
                <div class="row feed-list">
                    {{ include('images/feed/_feeds.html.twig', {
                        'feed': feed
                    }) }}
                </div>
                <div id="showmore-trigger" data-page="1" data-max="{{ maxPage }}">
                    <img src="{{ asset('img/ajax-loader.gif') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
