{% extends 'base.html.twig' %}
{% block body %}
    {% for user in users %}
        <p>ID: <a href="{{ path('app_users_show', {'nicknameOrId': user.id}) }}">{{ user.id }}</a></p>
        <p>Name: {{ user.name }}</p>
        <p>Nickname: {{ user.nickname }}</p>
    {% endfor %}
{% endblock %}
