{% extends 'base.html.twig' %}
{% block body %}
    {% if author %}
        <a href="{{ path('app_my_profile') }}">Show profile</a>
    {% else %}
        <a href="{{ path('app_author_create') }}">Create Profile</a>
    {% endif %}
    <p>Name: {{ user.name.name }}</p>
    <p>Surname: {{ user.name.surname }}</p>
{% endblock %}
